<!DOCTYPE html>
<html lang="pt-br" style="background:#18384c;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="/css/main.css">

  <header class="menu-principal">

      <div class="logo">
          <a><img class="cursor" src="/img/menu.png" ></a>
          <a class="logo-2"><img src="/img/LOGO.png" ></a>
      </div>
    <div class="search">
      <input type="text" placeholder="Digite Sua Busca..." class="busca">
      <a class="lupa"><img src="/img/search2.png" ></a>
      <ul><li><a><img class="cursor" src="/img/globo.png" ></a></li></ul>
    </div>
  </header>
  
</head>