<!DOCTYPE html>
<html lang="pt-br" style="background:#18384c;">
<head>
  <title>Baixe Fácil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  <header class="menu-principal">
      <div id="menu"><i class="fas fa-bars"></i></div>
      <div id="logo"><a href="/"><img src="/img/LOGO.png" ></a></div>

      <div id="languages"><i class="fas fa-globe"></i></div>
      <div class="search">
        <form method="get" action="/">
          <input name="busca" type="text" placeholder="Digite Sua Busca....." class="busca">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <!-- <a class="lupa"><img src="/img/search2.png" ></a> -->
      </div>
      <!-- <ul><li><a><img class="cursor" src="/img/globo.png" ></a></li></ul> -->
  </header>
  
</head>