<%- include ("partials/header.ejs") %>
<body style="margin: 0 auto">
  <main>
    
    <div class="conteudo">
      <div class="col-100">
        <div class="slider-principal">
          <img src="/img/destaques.png">
          <img src="/img/destaques.png">
          <img src="/img/destaques.png">
        </div>
      </div>
      <div class="widget">
        <div class="title">
          <div id="game"><i class="fas fa-gamepad"></i></div>
          <h3>JOGOS</h3>
          <a href="/" target="_self">+ Jogos</a>
        </div>
        <div>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
        </div>
      </div>
      <div class="widget">
        <div class="title">
          <div id="game"><i class="far fa-newspaper"></i></div>
          <h3>NOTÍCIAS</h3>
          <a href="/" target="_self">+ Notícias</a>
        </div>
        <div>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
        </div>
      </div>
      <div class="widget">
        <div class="title">
          <div id="game"><i class="fab fa-android"></i></div>
          <h3>ANDROID</h3>
          <a href="/" target="_self">+ Android</a>
        </div>
        <div>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
        </div>
      </div>
      <div class="widget">
        <div class="title">
          <div id="game"><i class="fab fa-apple"></i></div>
          <h3>iOS</h3>
          <a href="/" target="_self">+ iOS</a>
        </div>
        <div>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
          <p class="blocos"></p>
        </div>
      </div>
      <!-- <img class="teste" src="/img/conteudo.png"> -->
    </div>
    <div class="barra-lateral">
        <div class="title">
          <h3>TOP SEMANAL</h3>
          <div id="fuguete"><img src="/img/fuguete.png"></div>
        </div>
        <div class="fundao">
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocoss"></p>
          <p class="blocosss"></p>
        </div>
        <div>
          <a href="#"><img class="topoo" src="/img/topo.png"></a>
        </div>
      <!-- <img class="teste2" src="/img/lateral.png"> -->
    </div>
  </main>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
<%- include ("partials/footer.ejs") %>