<%- include ("partials/header.ejs") %>
<body style="margin: 0 auto">
  <main>
    
    <div class="conteudo">
      <div class="col-100">
        <div class="slider-principal">
          <img src="/img/destaques.png">
          <img src="/img/destaques.png">
          <img src="/img/destaques.png">
        </div>
      </div>
      <div class="widget">
        <div class="title">
          <h3>Jogos</h3>
          <a href="/jogos" target="_self">+ Jogos</a>
        </div>
      </div>
      <!-- <img class="teste" src="/img/conteudo.png"> -->
    </div>
    <div class="barra-lateral">
      <img class="teste2" src="/img/lateral.png">
    </div>
  </main>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
<%- include ("partials/footer.ejs") %>